<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update client</title>
</head>
<body>

<form action="#"
      th:action="@{/clients/update/{id}(id=${client.getId()})}"
      th:object="${client}"
      th:method="POST">

    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br/>

    <label for="age">Age: </label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br/>

    <label for="phone">Phone number: </label>
    <input id="phone" type="tel" th:field="*{phoneNumber}"
           pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required placeholder="Enter phone number">
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
    <br/>

    <label for="email">Email: </label>
    <input id="email" type="email" th:field="*{email}"
           required placeholder="Enter email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>

    <input type="submit" value="Update client">
</form>

</body>
</html>